$gray: #9399a2ff;
$light-gray: #D2D8E0;
$grayish-blue: rgb(48 63 86);
$grayish-blue-2: rgb(48, 63, 86);

.todays-container {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	height: 92%;
	justify-items: center;
	position: relative;
	>.today-card {
		&:nth-child(3) {
			border-left: 1px solid rgb(48, 63, 86);
			border-right: 1px solid rgb(48, 63, 86);
			padding-left: 50px;
			padding-right: 50px;
		}
		&:nth-child(6) {
			border-left: 1px solid rgb(48, 63, 86);
			border-right: 1px solid rgb(48, 63, 86);
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}
.today-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	#time {
		color: $gray;
		font-weight: 500;
		font-size: 1.1rem;
	}
	#temp {
		font-size: 1.5rem;
	}
}
#horizontal {
	background-color: $grayish-blue;
	border: none;
	position: absolute;
	height: 1px;
	width: 500px;
	top: 50%;
	border-radius: 50%;
}
.three-days {
	display: flex;
	position: relative;
	h3 {
		position: absolute;
		font-size: 1.1rem;
	}
}
.forcast-container {
	display: grid;
	grid-template-rows: repeat(3,1fr);
	flex-grow: 1;
	margin-top: 15px;
	>.forecast-card {
		&:nth-child(2) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 83%;
				height: 1px;
				background-color: $grayish-blue-2;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 83%;
				height: 1px;
				background-color: $grayish-blue-2;
			}
		}
	}
}
.forecast-card {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	color: $gray;
	font-size: 1.2rem;
	position: relative;
	>#day {
		color: $gray;
		font-weight: 500;
	}
	#high {
		color: $light_gray;
	}
}
#weather-condition {
	img {
		width: 80px;
	}
	display: flex;
	gap: 10px;
	align-items: center;
	>p {
		color: $light_gray;
	}
}

@media (max-width: 768px){
    .today-card {
        
        #time {
            color: $gray;
            font-weight: 500;
            font-size: 1rem;
        }
        #temp {
            font-size: 1.2rem;
        }
    }
    .forecast-card{
        font-size: 1rem;
    }
}