$gray: #9399a2;
$light-gray: hsl(216, 7%, 85%);
$light-gray-2: hsl(216, 7%, 81%);
$light-gray-3: hsl(216, 7%, 75%);
$dark: rgb(11, 19, 30);
$dark-blue: #202b3b;

/* Base styling for the filter switch */
/* Hide the input elements */
/* Style the labels (options) */
/* Styling for the moving background */
/* Adjust background position when the second option is selected */
/* Highlight the selected label */
/* Dim the unselected labels */
.filter-switch {
	border: 2px solid rgb(11, 19, 30);
	border-radius: 30px;
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
	width: 400px;
	overflow: hidden;
	background-color: $dark;
	input {
		display: none;
	}
	label {
		flex: 1;
		text-align: center;
		cursor: pointer;
		border: none;
		border-radius: 30px;
		position: relative;
		overflow: hidden;
		z-index: 1;
		transition: all 0.5s;
		font-weight: 500;
		font-size: 18px;
		color: $gray;
	}
	.background {
		position: absolute;
		width: 49%;
		height: 38px;
		background-color: $dark-blue;
		top: 6px;
		left: 4px;
		border-radius: 30px;
		transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}
#temp-option2 {
	&:checked {
		~ {
			.background {
				left: 50%;
			}
		}
		+ {
			label[for="temp-option2"] {
				color: $light-gray;
				font-weight: bold;
			}
		}
	}
	&:not(:checked) {
		+ {
			label[for="temp-option2"] {
				color: $gray;
			}
		}
	}
}
#wind-option2 {
	&:checked {
		~ {
			.background {
				left: 50%;
			}
		}
		+ {
			label[for="wind-option2"] {
				color: $light-gray;
				font-weight: bold;
			}
		}
	}
	&:not(:checked) {
		+ {
			label[for="wind-option2"] {
				color: $gray;
			}
		}
	}
}
#pressure-option2 {
	&:checked {
		~ {
			.background {
				left: 50%;
			}
		}
		+ {
			label[for="pressure-option2"] {
				color: $light-gray;
				font-weight: bold;
			}
		}
	}
	&:not(:checked) {
		+ {
			label[for="pressure-option2"] {
				color: $gray;
			}
		}
	}
}
#distance-option2 {
	&:checked {
		~ {
			.background {
				left: 50%;
			}
		}
		+ {
			label[for="distance-option2"] {
				color: $light-gray;
				font-weight: bold;
			}
		}
	}
	&:not(:checked) {
		+ {
			label[for="distance-option2"] {
				color: $gray;
			}
		}
	}
}
#temp-option1 {
	&:checked {
		+ {
			label[for="temp-option1"] {
				color: $light-gray;
				font-weight: bold;
			}
		}
	}
	&:not(:checked) {
		+ {
			label[for="temp-option1"] {
				color: $gray;
			}
		}
	}
}
#wind-option1 {
	&:checked {
		+ {
			label[for="wind-option1"] {
				color: $light-gray;
				font-weight: bold;
			}
		}
	}
	&:not(:checked) {
		+ {
			label[for="wind-option1"] {
				color: $gray;
			}
		}
	}
}
#pressure-option1 {
	&:checked {
		+ {
			label[for="pressure-option1"] {
				color: $light-gray;
				font-weight: bold;
			}
		}
	}
	&:not(:checked) {
		+ {
			label[for="pressure-option1"] {
				color: $gray;
			}
		}
	}
}
#distance-option1 {
	&:checked {
		+ {
			label[for="distance-option1"] {
				color: $light-gray;
				font-weight: bold;
			}
		}
	}
	&:not(:checked) {
		+ {
			label[for="distance-option1"] {
				color: $gray;
			}
		}
	}
}
.settings-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 5px;
	>h1 {
		margin-left: 5px;
	}
}
.settings-container {
	position: relative;
	background-color: $dark-blue;
	border-radius: 22px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	gap: 35px;
	padding: 50px 100px;
	margin-top: 20px;
	>#temp {
		margin-bottom: 50px;
	}
	>#wind {
		margin-bottom: 50px;
	}
	>#pressure {
		margin-bottom: 50px;
	}
	>#distance {
		margin-bottom: 50px;
	}
}
#temp {
	>h2 {
		margin-bottom: 15px;
		color: $gray;
	}
}
#wind {
	>h2 {
		margin-bottom: 15px;
		color: $gray;
	}
}
#pressure {
	>h2 {
		margin-bottom: 15px;
		color: $gray;
	}
}
#distance {
	>h2 {
		margin-bottom: 15px;
		color: $gray;
	}
}
.page-container {
	display: flex;
	>.menu-bar {
		height: 100vh;
	}
}
.form-action {
	button {
		left: 32%;
		bottom: 30px;
		position: absolute;
		padding: 10px 30px;
		border-radius: 10px;
		font-size: 1.3rem;
		border: none;
		background-color: $dark;
		color: $gray;
		transition: transform 0.3 ease-in-out;
		&:hover {
			color: $light-gray-2;
			transform: scale(1.1);
		}
	}
}
.another-container {
	color: $gray;
	margin-left: -175px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	>h2 {
		font-size: 3.3rem;
		margin-bottom: 30px;
	}
	>ul {
		list-style: none;
	}
	ul {
		li {
			img {
				width: 20px;
			}
			margin: 30px 0px;
			display: flex;
			align-items: center;
			gap: 15px;
			font-size: 1.2rem;
			a {
				text-decoration: none;
				color: $gray;
				&:hover {
					text-decoration: underline;
					color: $light-gray-3;
				}
			}
		}
	}
}

@media (max-width: 768px){
    .settings-page{
        align-items: center;
    }
    .another-container{
        margin: 10px 0;
        align-items: center;
        h2{
            font-size: 2.5rem;
        }
    }
}