<div class="condition-card">
    <div class="header">
        <img src=<%= conditions[i].icon %> alt="condition icon">
        <h3><%= conditions[i].title %></h3>
    </div>
    <p><%= conditions[i].value %></p>
</div>
