<div class="weather-app">
    <div class="menu-bar layout">
        <a href="/"><img id="icon" src=<%=image %> alt="website icon"></a>
        <div class="menu-btn">
            <div id="weather"><a id="weather-icon" href="/weather"><img src="images/weather.png"
                        alt="weather section icon">
                    <p>Weather</p>
                </a>

            </div>
            <div id="settings">
                <a id="settings-icon" href="/settings"><img src="images/setting-lines.png" alt="settings icon">
                    <p>Settings</p>
                </a>

            </div>
        </div>

    </div>