<form action="/search" method="GET" id="search-form">
    <div class="search">
        <img src="images/search.png" alt="search icon">
        <input type="search" name="city" id="search-bar" placeholder="Search for cities" required>
        <button type="submit" style="display: none;"></button> <!-- This is to allow form submission when the user presses 'Enter' -->
    </div>
</form>
