<div class="today-card">
    <p id="time"><%= todays[i].time %></p>
    <img src=<%= todays[i].img %> alt="Weather data by WeatherAPI.com" border="0">
   
    <p id="temp"><%= todays[i].temp %></p>
</div>